In [ ]:
#download GATK tool
wget https://github.com/broadinstitute/gatk/releases/download/4.1.2.0/gatk-4.1.2.0.zip  
#unzip the file and set path
unzip gatk-4.1.2.0.zip
G2
export PATH=$PATH:/data/gatk-4.1.2.0/

In [ ]:
# retrieve the allele counts
# write a script that runs the ase read counter on each read and outputs a merged file for pandas/R

#may need to index and create sequence dict file
samtools faidx csi.chromosome.fa
samtools dict -o csi.chromosome.dict csi.chromosome.fa
java -jar picard.jar AddOrReplaceReadGroups \ I=CLV-102-1-GHA.bam \ O=rg.CLV-102-1-GHA.bam \ RGID=G21 \ RGLB=G21 \ RGPL=illumina \ RGPU=G21 \ RGSM=G21

#create a for loop for the rest of the files
id=(P21 G22 P22 G23 P23 P31 P32 P53 P81 P82 P83 PV1 PV2 PV3)

#remove the first line of fastq.list
# change it to a variable
sed '1d' fastq.list > input

list=($(cat input)) 


#create a for loop
# practice iterating the array
for i in $(seq 0 13); dojava -jar picard.jar AddOrReplaceReadGroups I=/data/transcriptome/${list[${i}]}.bam O:data/transcriptome/rg.${list[${i}]}.bam --RGID ${id[${i}]} --RGLB ${id[${i}]} --RGPL illumina --RGPU ${id[${i}]} --RGSM ${id[${i}]};done

#remove all indels from the file
sed -i 's/INDEL/' aln2-pe-snps-filt.vcf > snps.vcf

#index vcf file
gatk IndexFeatureFile -F /data/snps.vcf

#iterate the ase read for each file in bam
for file in $(cat input); do gatk ASEReadCounter -R csi.chromosome.fa -I rg.${file}.bam -V /data/snps.vcf -O ${file}.csv; done

#export results to python

In [ ]:
import pandas as pd

# create dataframes and merge all of the file horizontally by chromosome and coordinate

In [51]:
# read all the different csv files as a dataframe
test = pd.read_csv('/RNA/VALENCIA/allele/CLV-102-1-GHA.csv', sep='\t', nrows=50, header=0, index_col=False )

# create a tuple to iterate from
list = ('CLV-102-1-GHA','CLV-102-1-PFA','CLV-102-2-GHA','CLV-102-2-PFA','CLV-102-3-GHA','CLV-102-3-PFA','CLV-103-1-PFA','CLV-103-2-PFA','CLV-105-3-PFA','CLV-108-1-PFA','CLV-108-2-PFA','CLV-108-3-PFA','PV5-1-PFA','PV5-2-PFA','PV5-3-PFA')

# dreate a list to enter each data frame into
df_list = []

# create a for loop to read each file as a dataframe
# use append() to enter values into an empty list
# f is needed to format list[i] into a string
for i in range(len(list)):
    df_list.append(pd.read_csv(f'/RNA/VALENCIA/allele/{list[i]}.csv', sep='\t', header=0, index_col=False, nrows=10, dtype={'contig': object, 'position': object}))

In [52]:
# select the only the columns that matter
selected = []
for i in range(len(df_list)):
    selected.append(df_list[i][['contig','position','refAllele','altAllele']])

In [40]:
# merge dataframes based on a similar row
merged = df_list[0]
merged.merge(df_list[1], left_on = )

In [42]:
df_list[0]

,contig,position,variantID,refAllele,altAllele,refCount,altCount,totalCount,lowMAPQDepth,lowBaseQDepth,rawDepth,otherBases,improperPairs
0,chr1,367,.,G,C,1,0,1,0,0,1,0,0
1,chr1,368,.,G,T,1,0,1,0,0,1,0,0
2,chr1,9002,.,A,C,1,0,1,0,0,1,0,0
3,chr1,9011,.,G,A,1,0,1,0,0,1,0,0
4,chr1,9019,.,A,T,1,0,1,0,0,1,0,0
5,chr1,9027,.,C,T,1,0,1,0,0,1,0,0
6,chr1,9148,.,A,T,0,0,0,0,0,1,0,1
7,chr1,9162,.,C,A,0,0,0,0,0,1,0,1
8,chr1,9185,.,T,C,0,0,0,0,0,4,0,4
9,chr1,9209,.,C,T,0,0,0,0,0,4,0,4

In [43]:
df_list[1]

,contig,position,variantID,refAllele,altAllele,refCount,altCount,totalCount,lowMAPQDepth,lowBaseQDepth,rawDepth,otherBases,improperPairs
0,chr1,13701,.,G,A,2,0,2,0,0,3,0,1
1,chr1,36837,.,G,A,230,229,459,0,0,485,0,26
2,chr1,36908,.,C,A,196,213,409,0,0,419,0,10
3,chr1,37127,.,A,C,1,0,1,0,0,1,0,0
4,chr1,37442,.,G,A,2,1,3,0,0,4,0,1
5,chr1,37463,.,C,T,2,0,2,0,0,2,0,0
6,chr1,37472,.,A,G,2,0,2,0,0,2,0,0
7,chr1,37476,.,T,A,2,0,2,0,0,2,0,0
8,chr1,38068,.,A,G,84,108,192,0,0,200,0,8
9,chr1,38366,.,T,C,163,228,391,0,0,416,1,24

In [44]:
df_list[2]

,contig,position,variantID,refAllele,altAllele,refCount,altCount,totalCount,lowMAPQDepth,lowBaseQDepth,rawDepth,otherBases,improperPairs
0,chr1,13701,.,G,A,0,0,0,0,0,1,0,1
1,chr1,18630,.,C,A,0,1,1,0,0,1,0,0
2,chr1,18638,.,G,T,0,1,1,0,0,1,0,0
3,chr1,28960,.,C,A,1,0,1,0,0,1,0,0
4,chr1,28986,.,T,C,1,0,1,0,0,1,0,0
5,chr1,29000,.,T,C,1,0,1,0,0,1,0,0
6,chr1,32657,.,C,T,1,0,1,0,0,1,0,0
7,chr1,36837,.,G,A,163,125,288,0,0,296,0,8
8,chr1,36908,.,C,A,157,113,270,0,0,275,0,5
9,chr1,37127,.,A,C,0,5,5,0,0,5,0,0

In [ ]:
# principal component analysis